body {
    text-align: center;
    background: linear-gradient(#E1BEE7 0%, #90CAF9 100%);
    background-repeat: no-repeat;
    font-family: cursive;
    font-weight: 500;
}

h1 {
    text-shadow: 2px 2px #F8BBD0;
    font-size: 25px;
}

h2 {
    text-shadow: 2px 2px #F8BBD0;
    font-size: 25px;
}

#home {
    padding: 20px;
    font-family: cursive;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    color: blueviolet;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

img {
    height: 125px;
    border-radius: 50%;
    width: 150px;
}

p {
    font-family: cursive;
    font-weight: 500;
    color:purple;
    font-size: 21px;
}

.links {
    float: left;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 20px;
}

.links:hover {
    background-color: cyan;
}
